<!DOCTYPE html>
<html lang="en">

<head>
    {% include "head.html" %}
    <title>Mars!</title>
</head>

<body>

    <div class="container">

        <div class="jumbotron text-center">
            <h1>All Things Current on Mars</h1>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Update</a></p>
        </div>
    
        <!-- <div class="row" id="mars-listings">
            <div class="col-md-12">
            <h4 class="heading">{{listings.price}} {{listings.headline}}</h4>
            <small>{{listings.hood}}</small>
            </div>
        </div> -->
    
    </div>
</body>

<footer>
    {% include "footer.html" %}
</footer>
    {% include "scripts.html" %}
</html>